
#changeFolder, #forwardResponse{
    -moz-border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6);
    background: none repeat scroll 0 0 #EEF2F7;
    border: 1px solid #536376;
    display: none;
    padding: 14px 22px;
    position: relative;
    width: 400px;
}