body, ul, ol, h1,h2,h3,h4,h5,h6,form,li,p {
	margin:0;
	padding:0;
}

img{
    border:0px;
}

html{
    background:#484848;
}

body{
    background:#ddd url(../images/bg.jpg) repeat-x;
    font-size:12px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    line-height:1.5em;
    color:#484848;
    margin:0 auto;
    padding-bottom:30px;
}

/* Connexion => */
.module-form {
	background-color: #ccc;
	border: 1px dashed #999;
	/* -> border */
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	/* <- border */
	display: inline-block;
	margin-top: 15px;
	padding: 20px;
}

.module-form table,
.module-form table th,
.module-form table td {
	border: none;
}

.module-form table th label {
	text-align: right;
}

.module-form table td {
	padding-left: 5px;
	text-align: left;
}

.module-form tbody input[type=text],
.module-form tbody input[type=password] {
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 20px;
	padding: 1px 3px;
}

.module-form tfoot tr {
	border-top: 2px solid #aaa;
}

.module-form tfoot th,
.module-form tfoot td {
	padding-top: 7px;
}

.module-form tfoot input[type=submit] {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 26px;
}
/* <= Connexion */

a{
    color:#454545;
    text-decoration:none;
}
a:hover{
    color:#454545;
    text-decoration:underline;
}

#head{
    background:transparent url(../images/bg_head.png) no-repeat;
    height:199px;
    color:#fff;
}
#head a{
    color:#eee;
    text-decoration:none;
}
#head span a:hover{
    color:#fff;
    text-decoration:underline;
}

.head_memberinfo{
    position:absolute;
    right:40px;
    top:20px;
    z-index:2;
    font-size:11px;
    line-height:13px;
}

.memberinfo_span{
    display:block;
    float:left;
    padding-right:5px;
    margin-right:5px;
    border-right:1px solid #eee;
}

.memberinfo_span2{
    display:block;
    clear:both;
    padding-top:5px;
}

#head .memberinfo_span2 a{
    color:#999;
}
#logo{
    padding-top:20px;
    padding-left:50px;
}
.head_memberinfo_logo{
    position:absolute;
    left:-40px;
} 

.head_memberinfo_logo img{
    position:absolute;
    top:0;
    z-index:1;
} 

.head_memberinfo_logo span{
    font-size:10px;
    left:23px;
    position:absolute;
    top:2px;
    z-index:2;
}

#sidebar{
	background: url(../images/bg_main.jpg) repeat-y scroll left top;
	width:270px;
	float:left;
}
#sidebar li{
    border-bottom: #c0c0c0 solid 1px;
}

#sidebar li a.list_item{
    line-height:32px;
    font-size:15px;
    color:#555555;
    width:230px;
    text-decoration:none;
    display:block;
    padding: 0 24px;
    background:transparent url(../images/dotted_line.gif) repeat-x left top;
    outline:none;
}

#sidebar li a.list_item:hover{
    line-height:32px;
    font-size:15px;
    color:#333333;
    width:230px;
    text-decoration:none;
    display:block;
    padding: 0 24px;
    background:transparent url(../images/dotted_line.gif) repeat-x left top;
    outline:none;
}
#sidebar li.current a.list_item{
    background-color: #ddd;
}
.main{
	color: #555;
	font-size: 13px;
    margin-left:270px;
    background-color: #ddd;
    min-height: 400px;
    padding:20px;
}
#footer{
    clear:both;
    height:5px;
    background-color:#dddddd;
}

h1{
    border-bottom-color: #c0c0c0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height:1.8em;
    font-weight:normal;
    margin:0 0 7px;
    color: #808080;
    font-size: 20px;
}

.flag{
    max-width:60px;
    max-height:35px;
    vertical-align:middle;
}
.small_flag{
    width:40px;
    height: 26px;
    margin: -2px;
    vertical-align:middle;
}

.photo{
    max-width:600px;
    max-height:400px;
    vertical-align:middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photo_small{
    max-width:100px;
    max-height:100px;
    vertical-align:middle;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}


label{
    display:block;
    padding-bottom:3px;
    color:#575757;
}

label.inline{
    display:inline;
}

select {
	font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
	height: 26px;
	padding: 0 2px;
	padding-top: 0px;
}	

.input-tiny, .input-small, .input-medium, .input-big, .input-flex, .input-email, textarea{
    padding:5px;
    border:1px solid #959595;
    font-size:12px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    background-color:#eaeaea;
    color:#333;
}
.input-tiny{width:40px;}
.input-email{width:250px;}
.input-small{width:120px;}
.input-medium{width:240px;} 
.input-big{width:480px;} 
.input-flex{width:70%;}


textarea, iframe , .wysiwyg{
    overflow:auto;
}

.button{
    border:1px solid #959595;
    font-size:12px;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    background-color:#eaeaea;
    padding:5px 15px;
    color:#fff;
    cursor:pointer;
}

.button:hover{
    padding:6px 15px 4px;
}

textarea{
    line-height:1.5em;
    width:70%;
    height:200px;
}
.case_homepage{
    float:left;
    width:166px;
    height:100px;
    overflow:hidden;
    border:1px solid #c0c0c0;
    padding:15px;
    margin:0 10px 10px 0;
    background:#eaeaea url(../images/highlight_line.gif) repeat-x top left;
    font-size:11px;
    line-height:1.4em;
    text-decoration:none;
}
.case_homepage:hover{
    text-decoration:none;
    background:#ccc;
    border:1px solid #aaa;
}
.case_homepage div{
    padding-top:7px;
    text-decoration:none;
    color:#777777;
    border:none;
}
.case_homepage div.case_txt{
    color:#4a4a4a;
    position:relative;
    font-size:15px;
    font-family: "Lucida Sans Unicode";
    line-height:19px;
}
.case_homepage:hover div.case_txt{
    color:#4a4a4a;
    font-size:15px;
    font-family: "Lucida Sans Unicode";
    text-decoration:none;
    border:none;
}
.case_homepage img{
    height:40px;
    width:40px;
    vertical-align: middle;
    float:left;
    margin-right:10px;
}
.case_homepage .desc{
    clear:both;
    font-size:12px;
    line-height:15px;
}
.leveled{
    margin-left:40px;
    padding-left:2px;
}
.desc{
	color: #888;
    display:block;
    padding-left:0px;
    font-size: 11px;
    padding-bottom: 10px;
    line-height:10px;
}
.desc_check{
	color: #888;
    display:block;
    padding-left:4px;
    font-size: 11px;
    padding-bottom: 10px;
    line-height:10px;
}
.help{
    font-size:0.8em;
    color:#8a8a8a;
}


table{
    border:1px solid #7b7b7b;
    border-collapse:collapse;
}
table .flag{
    height:50px;
    width:100px;
    padding:3px;
}
table a{
    color:#454545;
    text-decoration:none;
}
table a:hover{
    color:#454545;
    text-decoration:underline;
}
th, td {
    border:1px solid #7b7b7b;
    text-align:center;
    color: #444;
}
thead th{
    padding:5px;
    padding-left:10px;
    padding-right:10px;

    background-color: #8f8f8f;
    color: #cdcdcd;
}
.odd:hover, .even:hover {
    background-color: #c1c1c1;
}
tr.odd {
    background-color: #eaeaea;
}
tr.even {
    background-color: #cccccc;
}
th a, th a:hover {
    color: #cdcdcd;
}

.sf_admin_list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sf_admin_td_actions{
    list-style-type:none;
    text-align: left;
}

.sf_admin_action_up{
    background-image:url(../images/icons/up.png);
    background-position:0 50%;
    background-repeat:no-repeat;
    padding-left:18px;
}

.sf_admin_action_down{
    background-image:url(../images/icons/down.png);
    background-position:0 50%;
    background-repeat:no-repeat;
    padding-left:18px;
}

.sf_admin_action_edit{
    background-image:url(../images/icons/edit.png);
    background-position:0 50%;
    background-repeat:no-repeat;
    padding-left:18px;
}

.sf_admin_action_delete{
    background-image:url(../images/icons/delete.png);
    background-position:0 50%;
    background-repeat:no-repeat;
    padding-left:18px;
}

.sf_admin_actions {
	border-top: 2px dotted #999;
	display: inline-block;
    list-style-type: none;
	padding-top: 5px;
}

.sf_admin_action_new {
    background-image:url(../images/icons/add2.png);
    background-position: 4px 50%;
    background-repeat:no-repeat;
    padding-left: 21px;
}
.sf_admin_action_enable{
    background-image:url(../images/icons/valider.png);
    background-position:0 50%;
    background-repeat:no-repeat;
    padding-left:18px;
}
.sf_admin_action_disable{
    background-image:url(../images/icons/back.png);
    background-position:0 50%;
    background-repeat:no-repeat;
    padding-left:18px;
}


img.add{
    position:absolute;
    height:25px;
    width:25px;
    left:20px;
    top:28px;
}

input.edit_flag {
	clear: left;
	float: left;
	margin-bottom: 5px;
}

img.edit_flag{
    width:100px;
    height:60px;
}

label.edit_flag {
	float: left;
	margin-left: 5px;
}

label.edit_photo{
    float:right;
    text-align:left;
}

ul.sf_admin_actions li:first-child {
	padding-left: 20px;
}

ul.sf_admin_actions li:last-child {
	border: none;
}

ul.sf_admin_actions li {
	border-right: 2px dotted #999;
    float: left;
	height: 26px;
	line-height: 26px;
}

ul.sf_admin_actions li input {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 26px;
	margin: 0 10px;
	padding: 0 10px;
	padding-bottom: 1px;
	vertical-align: top;
}

ul.sf_admin_actions li.sf_admin_batch_actions_choice input {
	margin: 0;
	margin-right: 10px;
}

ul.sf_admin_actions li a {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
	font-weight: bold;
	padding: 0 7px;
    text-decoration: none;
}

ul.sf_admin_actions li a:hover {
	background-color: #ccc;
    text-decoration:underline;
}

ul.sf_admin_actions li select {
	vertical-align: top;
}

div.sf_admin_date {
	font-size: 16px;
}

div.sf_admin_date label {
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana,sans-serif;
	font-size: 12px;
	font-weight: normal;
}

div.sf_admin_form_row.sf_admin_date select {
	height: 26px;
	margin: 0 2px;
}

div.sf_admin_date select:first-child {
	margin-left: 0;
}

tr.sf_admin_row td{
    padding-left:10px;
    padding-right:10px;
}

div.sf_admin_form fieldset {
	border: none;
}

div.sf_admin_form_row select {
	height: auto;
}

.help_icon{
    margin:0px;
    margin-top:7px;
    margin-left:4px;
    display:inline;
    float:left;
}