/************************* grainedevie.org: Global css *******************/
a, abbr, acronym, address, applet, article, aside, big, blockquote, body, caption,
cite, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, font, footer,
form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label,
legend, li, nav, object, ol, p, pre, q, s, samp, section small, span, strike,
strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
	border: 0;
	font-family: inherit;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	list-style-type: none;
	margin: 0;
	outline: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	text-transform: none;
	vertical-align: baseline;
	word-spacing: 0;
}

p{
	color:#544a2d;
}
html {
	height: 100%;
}

body {
	background-color: #FFFFFF;
	/*background-color: #3B7F10;
	background-image: url("../images/texture.jpg");*/
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

/*
    Citations
*/
blockquote {
	margin:12px 40px;
	padding:3px;
	color:#575757;
	padding: 0 40px;
	background: url("../images/quote-left.png") no-repeat 0 0;
	min-height:40px;
	max-width:350px;
	font-style: italic;
}
blockquote p{
	font-style: italic;
}
blockquote p.author{
	float:right;
	color:#484848;
	font-style: normal;
}

/*div#fond_image {
        background-image: url(../images/forest1.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
        width: 1000px;
}*/

div#global {
	margin: 0 auto;
	min-height: 100%;
	overflow: visible;
	position: relative;
	width: 1000px;
	z-index: 1;
}

div#bg-frame-background {
	background-image: url(../images/bg-frame-global.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	z-index: -1;
}

/*
    Upper bar
*/
div#upper-bar {
	height: 28px;
	padding-top: 0px;
	position: relative;
}

div#upper-bar div {
}

div#upper-bar ul {
	margin-right: 40px;
}

div#upper-bar ul li {
	float: right;
}

div#upper-bar ul li a, div#upper-bar ul li span {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

div#upper-bar ul li > a, div#upper-bar ul li > span {
	display: block;
	height: 28px;
	line-height: 28px;
}

div#upper-bar ul li > a {
	padding: 0 10px;
}

div#upper-bar ul li > a:hover {
	text-decoration: underline;
}

div#upper-bar ul li a#login-bar-button:hover {
	background-color: #035579;
	text-decoration: none;
}

a.login-open {
	background-color: #035579;
}

/*
    Header
*/
div#header {
	height: 0px;
	margin-left: 1px;
	position: relative;
	width: 982px;
}

div#overPSlider {
        position: absolute;
        top: 0;
        left: 2px;
	height: 690px;
	width: 995px;
        overflow: hidden;
}
div#pSlider {
        position: absolute;
        top: 0;
        left: 5px;
	height: 690px;
	width: 990px;
        overflow: hidden;
        
	border-right: 1px solid #383E44;
	border-bottom: 1px solid #383E44;
	border-left: 1px solid #383E44;
        
        z-index: -2;
}

/*
    Login
*/
div#login {
	border: 1px solid #383E44;
        border-top: none;

	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;

        background-color: #035579;
	/*background-image: url(../images/bg-bar-login.png);
	background-repeat: repeat;*/

	display: none;
	position: absolute;
	right: 1px;
	top: 0;
	z-index: 1001;
}

a#x-button {
	background-image: url(../images/x-button.png);
	cursor: pointer;
	display: block;
	height: 21px;
	left: 0;
	line-height: 21px;
	margin: 5px;
	padding: 0;
	position: absolute;
	top: 0;
	width: 21px;
	z-index: 10;
}

a#x-button:hover {
	background-image: url(../images/x-button-hover.png);
}

div#login form,
div#login form table {
	position: relative;
}

div#login form table {
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
}

div#login form table th {
	text-align: right;
}

div#login form table tbody td {
	text-align: left;
}

div#login table tbody tr:last-child td {
	padding-bottom: 0;
}

div#login form table tfoot td {
	text-align: right;
}

div#login form p {
	padding: 3px 0px;
	text-align: right;
}

div#login form a {
	color: #fff;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

div#login form a:hover {
	text-decoration: underline;
}

div#login form label {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	vertical-align: middle;
	width: 70%;
}

div#login form input {
	border: 1px solid #383E44;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	margin-left: 8px;
	padding: 0 3px;
	width: 120px;
}

div#login form input:focus {
	background-color: #FFE2CF;
}

div#login form input#signin_remember {
	background: inherit;
	height: inherit;
	vertical-align: middle;
	width: inherit;
}

div#login input#login-button {
	background-color: #ccc;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	width: 80px;
}

div#login input#login-button:hover {
	background-color: #aaa;
	cursor: pointer;
}

/*
    Logo
*/

div#header-logo a#logo_link {
        display: block;
	position: absolute;
	left: 30px;
	top: 0px;
        padding: 10px;
	z-index: 1000;

        border: 0;
        background-image: url("../images/logo-background.png");
        /*background-color: #fff;*/
	/* -> border */
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        behavior: url("../script/border-radius.htc");
	/* <- border */
	/* -> shadow */
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	/* <- shadow */
}

div#header-logo img {
	margin: 0;
}

div#header-logo #slogan_link {
	color: #8fbc13;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 11px;
	margin-left: 23px;
}

/*
	Counter
*/
div#counter-box {
	position: absolute;
	right: 0;
	top: 155px;
}

div#counter-box form {
	display: none;
}

div#counter-box ul {
}

div#counter-box ul li {
	float: right;
}

li#icon-tree {
	background-image: url(../images/tree.png);
	background-repeat: no-repeat;
	background-position: bottom;
	height: 70px;
	margin-right: 10px;
	width: 35px;
}

li#counter {
	height: 70px;
}

li#slogan1 {
	background-color: #000;
	/* -> border */
	border-radius: 10px 0px 0px 0px;
	-moz-border-radius: 10px 0px 0px 0px;
	-webkit-border-radius: 10px 0px 0px 0px;
	-khtml-border-radius: 10px 0px 0px 0px;
	/* <- border */
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	height: 20px;
	/* -> opacity */
	-moz-opacity:0.8;
	opacity: 0.8;
	filter:alpha(opacity=80);
	/* <- opacity */
	margin-right: 0;
	margin-top: 12px;
	padding: 0 10px;
	padding-top: 3px;
}


/*
    Centre du design
*/
/* padding-bottom = bg-frame-botom + 25*/
div#center {
	position: relative;
        top: 165px;
	overflow: auto;
        margin-top: 0px;
	margin-right: 7px;
	padding-bottom: 90px;
	margin-left: 8px;

	min-height: 400px;
}

div#content {
	position: relative;
	float: right;
	width: 720px;
	margin: 0;
	padding: 10px;
	padding-top: 20px;
	z-index: 1;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* Page titles */
div#content h1,
div#content h2,
div#content h3 {
	display: inline-block;
	font-weight: bold;
        font-family: "Trebuchet MS";
        color: #5f3812;
}

div#content h1 {
        height: 35px;
        background: url("../images/img-h1.png") no-repeat 0 9px;
		font-size: 24px;
        padding: 10px 0 0 27px;
}
div#content h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
div#content h3 {
	font-size: 16px;
	margin-bottom: 5px;
}

/*
    Menu
*/

div#sidebar {
        margin-top: 20px;
	float: left;
	position: relative;
	width: 244px;
	z-index: 2;
}

/* design du menu */
ul#menu li div, ul#menu li a {
	display: block;
	cursor: pointer;
	height: 26px;
	line-height: 26px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #633a13;
	font-size: 15px;
	font-weight: bold;
}
/*make hover effect work in IE (ou pas...)*/
/*ul#menu li a {
	width: 218px;
}*/

ul#menu .current-page {
        color: #8fbc13;
	/*background-color: #e4e4e4;
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #e4e4e4;
	border-top: 1px solid #cdcdcd;*/
}

/* Survol */
ul#menu li div:hover, ul#menu li a:hover {
	background-color: #ffffbe;
	color: #000;
}

/* Padding du menu */
ul#menu li a.accueil, ul#menu li div.backcolor { /* Catégories */
    padding-left: 10px;
}
ul#menu li a.backcolor { /* Pages */
    padding-left: 20px;
}

/* Javascript */
ul#menu div.backcolor {
    background: 8px 5px no-repeat;
}
ul#menu li{
    background: top left no-repeat;
}
/*div.fleche_image{
	width:20px;
	float:left;
}*/

/*
    Fin Menu
*/

/* Footer */
/* Dependant: br-frame-center; bg-frame-bottom, center*/
div#footer {
        background-image: url(../images/bg-frame-bottom.png);
	position: relative;
        margin-top: 85px;
	height: 100px;
	width: 100%;
}

div#footer div#logos {
	position: absolute;
	margin-left: 20px;
	top: 20px;
}

div#footer div#bottom-bar {
	position: absolute;
	right: 20px;
	top: 20px;
}

div#footer ul {
	float: right;
	margin-left: 17px;
	position: relative;
}

div#footer ul li {
	color: #000;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0 3px;
}

div#footer ul li a {
	color: #000;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

div#footer ul li a:hover {
	text-decoration: underline;
}

div#footer div#legal {
	bottom: 20px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-left: 20px;
	position: absolute;
}

/* --- Formulaires --- */
form.module-form {
	margin: 0 10px;
	overflow: hidden;
}

form.module-form table {
	position: relative;
}

form.module-form tbody th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	vertical-align: middle;
}

form.module-form tbody td {
	padding-left: 2px;
	text-align: left;
}

form.module-form tbody tr:last-child th {
	padding-bottom: 1px;
}

form.module-form tbody input {
	background-color: #eee;
	border: 1px solid #bbb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 20px;
	margin-left: 8px;
	padding: 0 3px;
	width: 150px;
}

form.module-form tbody input[type="checkbox"] {
	width: auto;
}


form.module-form tbody input:focus {
	background-color: #CCFFCC;
}

ul.error_list {
	background-color: #FF6600;
	height: 22px;
	position: absolute;
	width: 700px;
	z-index: -1;
}

ul.error_list li {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

ul.error_list li:first-child {
	padding-left: 175px;
}

ul.error_list li:first-child + li {
	padding-left: 235px;
}

form.module-form tfoot td {
	border-top: 2px dotted #bbb;
	padding-top: 7px;
	text-align: right;
}

form.module-form tfoot input {
	color: #333;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 15px;
	width: 100px;
}

form.module-form tfoot a {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 26px;
}

form.module-form tfoot a:hover {
	text-decoration: underline;
}

.partner_col1{
	padding-top: 10px;
	max-width:320px;
	padding-left: 20px;
	float: left;
}
.partner_col1 img{
	max-width: 75px;
	padding-right: 10px;
	float: left;
}

.faq_question{
	padding-left: 20px;
}
.faq_answer{
	padding-left: 25px;
}
.faq_categQuestions{
	text-align: center;
}

.photo_single{
    max-width:600px;
    max-height:500px;
    vertical-align:middle;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.photo_small{
    max-width:100px;
    max-height:100px;
    vertical-align:middle;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}


#homepage_table {
    width: 100%;
}

.homepage_cols {
    vertical-align: top;
    width: 50%;
}

.homepage_col1{
	width:370px;
	float:left;
	padding-right:10px;
}
.homepage_col2{
	width:340px;
	float:right;
}
.hompage_clear{
	clear:both;
}

.news{
	border: #b5ac8f solid 1px;
	padding: 5px;
	margin-top:5px;
	color:#6c6243;
	text-align: justify;
}
.news a.news_link{
	color:#544a2d;
	text-decoration:underline;
	float:right;
	padding-right:20px;
}
.news .news_clear{
	height:1px;
	clear:both;
}
.news .news_content{
	text-indent:20px;
}
.news_ind {
	border: #b5ac8f solid 1px;
	margin-top:5px;
	color:#6c6243;
	text-align: justify;
	padding:15px;
}
.date_ind {
	text-indent:28px;
	color:#6c6243;
}
a{
	color:#544a2d;
}
.news span.date{
	color:#5f7f0c;
    font-weight:bold;
}
.news a.title{
	font-size:14px;
    color:#544a2d;
}
.president_speech{
	text-align: justify;
	color:#544a2d;
	text-indent:20px;	
}
.president_speech p{
	margin-bottom:5px;
}

.president_speech .sign{
	font-size:9px;
	float:right;
	color:#2c250e;
}
.lang_change{
	font-weight:700;
}
#bottom-bar li.form{
	display:block;
	padding-top:0px;
}
#bottom-bar li{
	display:block;
	padding-top:4px;
}
#bottom-bar li.form{
	display:block;
	padding-top:0px;
}
p{
	color:#544a2d;
}
blockquote.guestbook{
	text-align: justify;
	padding-right:0px;
	margin:5px;
}