/************************* grainedevie.org: Global css *******************/
a, abbr, acronym, address, applet, article, aside, big, blockquote, body, caption,
cite, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, font, footer,
form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label,
legend, li, nav, object, ol, p, pre, q, s, samp, section small, span, strike,
strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
	border: 0;
	font-family: inherit;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	list-style-type: none;
	margin: 0;
	outline: 0;
	padding: 0;
	position: inherit;
	text-decoration: none;
	text-transform: none;
	vertical-align: baseline;
	word-spacing: 0;
}

html {
	height: 100%;
}

body {
	background-color: #3B7F10;
	background-image: url("../images/texture.jpg");
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

div#global {
	min-height: 100%;
	margin: 0 auto;
	position: relative;
	width: 1000px;
	z-index: 1;
	overflow: visible;
}

/* background:frame*/
div#bg-frame-top {
	background-image: url(../images/bg-frame-top.png);
	background-repeat: no-repeat;
	height: 30px;
	position: absolute;
	top: 15px;
	width: 100%;
	z-index: -1;
}

/* top = bg-frame-top.top + bg-frame-top.height*/
/* bottom = bg-frame-bottom.bottom + bg-frame-bottom.height*/
/* Dependant: center; footer*/
div#bg-frame-center {
	background-image: url(../images/bg-frame-center.png);
	background-repeat: repeat-y;
	bottom: 110px;
	position: absolute;
	top: 45px;
	width: 100%;
	z-index: -1;
}

div#bg-frame-bottom {
	background-image: url(../images/bg-frame-bottom.png);
	background-repeat: no-repeat;
	bottom: 70px;
	height: 40px;
	position: absolute;
	width: 100%;
	z-index: -1;
}

/* Upper bar */
div#upper-bar {
	height: 28px;
	padding-top: 17px;
	position: relative;
}

div#upper-bar div {
}

div#upper-bar ul {
	margin-right: 40px;
}

div#upper-bar ul li {
	float: right;
}

div#upper-bar ul li a, div#upper-bar ul li span {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

div#upper-bar ul li > a, div#upper-bar ul li > span {
	display: block;
	height: 28px;
	line-height: 28px;
}

div#upper-bar ul li > a {
	padding: 0 10px;
}

div#upper-bar ul li > a:hover {
	text-decoration: underline;
}

div#upper-bar ul li a#login-bar-button:hover {
	background-color: #33559B;
	text-decoration: none;
}

a.login-open {
	background-color: #33559B;
}

/* Header*/
div#header {
	height: 281p;
	margin-left: 1px;
	position: relative;
	width: 982px;
}

div#pSlider {
	border-bottom: 1px solid #383E44;
	border-left: 1px solid #383E44;
	border-right: 1px solid #383E44;
	height: 280px;
	width: 980px;
}

/* Login */
div#login {
	border-bottom: 1px solid #383E44;
	border-left: 1px solid #383E44;
	border-radius: 0px 0px 0px 10px;
	-moz-border-radius: 0px 0px 0px 10px;
	-webkit-border-radius: 0px 0px 0px 10px;
	-khtml-border-radius: 0px 0px 0px 10px;
	background-image: url(../images/bg-bar-login.png);
	background-repeat: repeat;
	display: none;
	position: absolute;
	right: 1px;
	top: 0;
	z-index: 1001;
}

a#x-button {
	background-image: url(../images/x-button.png);
	cursor: pointer;
	display: block;
	height: 21px;
	left: 0;
	line-height: 21px;
	margin: 5px;
	padding: 0;
	position: absolute;
	top: 0;
	width: 21px;
	z-index: 10;
}

a#x-button:hover {
	background-image: url(../images/x-button-hover.png);
}

div#login form,
div#login form table {
	position: relative;
}

div#login form table {
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
}

div#login form table th {
	text-align: right;
}

div#login form table tbody td {
	text-align: left;
}

div#login table tbody tr:last-child td {
	padding-bottom: 0;
}

div#login form table tfoot td {
	text-align: right;
}

div#login form p {
	padding: 3px 0px;
	text-align: right;
}

div#login form a {
	color: #fff;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

div#login form a:hover {
	text-decoration: underline;
}

div#login form label {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	vertical-align: middle;
	width: 70%;
}

div#login form input {
	border: 1px solid #383E44;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	margin-left: 8px;
	padding: 0 3px;
	width: 120px;
}

div#login form input:focus {
	background-color: #FFE2CF;
}

div#login form input#signin_remember {
	vertical-align: middle;
	width: inherit;
}

div#login input#login-button {
	background-color: #ccc;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	width: 80px;
}

div#login input#login-button:hover {
	background-color: #aaa;
	cursor: pointer;
}

div#header-logo {
	height: 170px;
	left: 0;
	position: absolute;
	top: 0;
	width: 390px;
	z-index: 1000;
}

div#header-logo img {
	margin: 0px 0 0 0px;
}

/* Header:Counter text */
div#counter-text {
	background-color: #000;
	/* -> border */
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	/* <- border */
	bottom: 7px;
	color: #fff;
	cursor: default;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bold;
	left: 230px;
	/* -> opacity */
	-moz-opacity:0.8;
	opacity: 0.8;
	filter:alpha(opacity=80);
	/* <- opacity */
	padding: 5px 10px;
	position: absolute;
	z-index: 1001;
}

/* Counter */
div#counter {
	height: 129px;
	position: absolute;
	right: 17px;
	top: 289px;
	width: 500px;
	z-index: 1000;
}

/* Main center template */
/* padding-bottom = bg-frame-botom + 25*/
div#center {
	overflow: auto;
	margin-left: 1px;
	margin-right: 17px;
	padding-bottom: 95px;
	position: relative;
}

div#sidebar {
	float: left;
	position: relative;
	width: 250px;
	z-index: 2;
}

div#content {
	margin-left: 250px;
	padding: 0;
	padding-top: 70px;
	position: relative;
	z-index: 1;
}

/* Main menu */
ul#menu {
	/*-moz-opacity:0.9;
	opacity: 0.9;
	filter:alpha(opacity=90);*/
}

ul#menu > li {
	border-right: 1px solid #cdcdcd;
}

ul#menu > li.current-page:first-child {
	border-top: none;
}

ul#menu > li.current-page {
	background-color: #e4e4e4;
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #e4e4e4;
	border-top: 1px solid #cdcdcd;
}

ul#menu li a, ul#menu li > span {
	color: #000;
	cursor: pointer;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
}

ul#menu li > span span {
	float: right;
}

ul#menu li ul {
	display: none;
}

ul#menu li a:hover, ul#menu li span:hover {
	background-color: #33559B;
	color: #fff;
}

ul#menu > li ul > li a {
	padding-left: 25px;
}

/*
ul#menu li:first-child,  ul#menu > li:first-child a{
	border-radius: 20px 0px 0px 0px;
	-moz-border-radius: 20px 0px 0px 0px;
	-webkit-border-radius: 20px 0px 0px 0px;
	-khtml-border-radius: 20px 0px 0px 0px;
}*/

/* Footer */
/* Dependant: br-frame-center; bg-frame-bottom, center*/
div#footer {
	position: absolute;
	bottom: 0;
	height: 70px;
	position: absolute;
	width: 100%;
}

div#footer div#logos {
	position: relative;
	margin: 0 10px;
}

div#footer div#bottom-bar {
	position: absolute;
	right: 20px;
	top: 0;
	width: 750px;
}

div#footer ul {
	float: right;
	margin-left: 17px;
	position: relative;
}

div#footer ul li {
	color: #fff;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0 3px;
}

div#footer ul li a {
	color: #fff;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

div#footer ul li a:hover {
	text-decoration: underline;
}

div#footer div#legal {
	bottom: 15px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin: 0 10px;
	position: absolute;
}

/* --- Formulaires --- */
form.module-form {
	margin: 0 10px;
	overflow: hidden;
}

form.module-form table {
	position: relative;
}

form.module-form tbody th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	vertical-align: middle;
}

form.module-form tbody td {
	padding-left: 2px;
	text-align: left;
}

form.module-form tbody tr:last-child th {
	padding-bottom: 1px;
}

form.module-form tbody input {
	background-color: #eee;
	border: 1px solid #bbb;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 20px;
	margin-left: 8px;
	padding: 0 3px;
	width: 150px;
}

form.module-form tbody input[type="checkbox"] {
	width: auto;
}


form.module-form tbody input:focus {
	background-color: #CCFFCC;
}

ul.error_list {
	background-color: #FF6600;
	height: 22px;
	position: absolute;
	width: 700px;
	z-index: -1;
}

ul.error_list li {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

ul.error_list li:first-child {
	padding-left: 175px;
}

ul.error_list li:first-child + li {
	padding-left: 235px;
}

form.module-form tfoot td {
	border-top: 2px dotted #bbb;
	padding-top: 7px;
	text-align: right;
}

form.module-form tfoot input {
	color: #333;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 15px;
	width: 100px;
}

form.module-form tfoot a {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 26px;
}

form.module-form tfoot a:hover {
	text-decoration: underline;
}

/* Page title*/
div#content h1,
div#content h2 {
	border-bottom: 3px solid #FF6600;
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	margin: 0 15px;
	margin-bottom: 15px;
}

div#content > p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 10px;
}